<div class="row" *ngIf="!edit;else unset">
    <div class="col-lg-2">{{newUser.name}}</div>
    <div class="col-lg-2">{{newUser.surname}}</div>
    <div class="col-lg-2">{{newUser.email}}</div>
    <div class="col-lg-2">{{newUser.age}}</div>
    <div class="field col-lg-2">
      <button class="btn btn-warning" (click)="editUser()">&#9998;</button>
      <button class="btn btn-success" (click)="onClickUpdate($event)">&#9997;</button>
      <button class="btn btn-danger" (click)="deleteUser(user.id)">&#9747;</button>
    </div>
</div>
<ng-template #unset> 
  <form #f="ngForm">
    <app-input [newUser]='newUser' [edit]='edit'></app-input>
    <button class="btn btn-success" (click)="saveUser()">&#10004;</button>
    <button class="btn btn-danger" (click)="canselUser()">&#10006;</button>
  </form>
</ng-template>