label{
    width: 125px;
}
input{
    margin-right: 5px;
}
.form-group{
    width: 100%;
}
.form-group .btn{
    margin: 10px auto;
    width: 150px;
}
.inline{
    display: inline;
}
.none{
    display: none;
}