<button (click)="openModal(myModal)" class="btn btn-primary">&#10010;</button>
  <ng-template #myModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ modalAttributes.title }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  <form (ngSubmit)="onSubmit($event)" class="form-inline">
    <app-input [newUser]='newUser' [formAttributes]="modalAttributes" #input></app-input>
    <div class="form-group">
      <button type="submit" [ngClass]="['btn', modalAttributes.btnClass]" (click)="input.onSubmit()">
      <!-- (click)="input.onSubmit($event)" -->
      {{ modalAttributes.btnCaption }}</button>
    </div>
</form>
</div>
</ng-template>

